@import "inc/_default.scss";
@import "inc/_vars.scss";

$projectRed: #ec5f67;
$projectOrange: #f99157;
$projectYellow: #fac863;
$projectGreen: #99c794;
$projectBlueGreen: #5fb3b3;
$projectBlue: #6699cc;
$projectViolet: #c594c5;
$projectBrown: #ab7967;

/* Greys */
$projectGrey8: #1b2b34;
$projectGrey7: #343d46;
$projectGrey6: #4f5b66;
$projectGrey5: #65737e;
$projectGrey4: #a7adba;
$projectGrey3: #c0c5ce;
$projectGrey2: #cdd3de;
$projectGrey1: #d8dee9;

$headingFont: inherit;
$bodyFont: inherit;

* {
  box-sizing: border-box;
}

img {
  width: 100%;
}

html,
body {
  background-color: #eff3f4;
  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;

  @include mobile {
    font-size: 14px;
  }
}

.form {
  color: #217093;
  background-color: #fff;
  border: solid 1px #ddd;
  padding: 2rem;
  max-width: 100%;

  &-title {
    &:not(:last-child) {
      margin-bottom: 1em;
    }
  }

  @include mobile {
    padding: 2rem 1rem;
    border-radius: 0;
  }

  .fieldset {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    @include tablet {
      display: block;
      width: 100%;
    }

    &:not(:last-child) {
      margin-bottom: 0.75rem;

      @include tablet {
        margin-bottom: 1rem;
      }
    }

    button,
    input,
    select,
    textarea {
      font-size: 1rem;

      @include tablet {
        width: 100%;
        height: 3rem;
        padding: 0.2rem 1rem;

        &:not(:last-child) {
          margin-bottom: 0.5rem;
        }
      }
    }
  }

  label {
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;

    &:not(:last-child) {
      margin-bottom: 1.5rem;
    }

    input {
      &:not(:first-child) {
        margin-top: 1em;
      }
    }
  }

  input {
    padding: 1rem;
    outline: none;
    height: 3.5rem;
    font-size: 1rem;
    background-color: #f3fafd;
    border: solid 2px #217093;
    border-radius: 4px;
    box-sizing: border-box;
    color: #353538;
    font-family: inherit;

    &[type="text"]:focus,
    &[type="email"]:focus {
      box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
      border-color: #4eb8dd;
    }

    &[type="text"]:required:focus:invalid,
    &[type="email"]:required:focus:invalid {
      border-color: $projectRed;
    }
  }

  button,
  input[type="submit"] {
    background-color: #4eb8dd;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    box-shadow: none;
    width: 100%;
    height: 65px;
    font-size: 1.55em;
    color: #fff;
    font-weight: 600;
    font-family: inherit;
    font-size: 1rem;
    cursor: pointer;
    padding: 1rem 3rem;
    height: 3.5rem;

    &:hover,
    &:active,
    &:focus {
      background-color: #217093;
    }
  }
}

body {
  display: flex;
  flex-direction: column;
}

header,
footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: $projectGrey8;
  color: #fff;
}

header {
  padding: 1rem;

  h1 {
    font-size: 2rem;
    font-weight: lighter;
    letter-spacing: 0.1rem;
    text-transform: uppercase;

    @include mobile {
      font-size: 1.5rem;
    }
  }
}

main {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 3rem;

  @include mobile {
    padding: 2rem 0;
  }
}

footer {
  padding: 2rem;
  font-weight: lighter;
  letter-spacing: 0.1rem;
}

.fields {
  padding: 1rem 0;
  border-top: 2px solid #3d7387;
  border-bottom: 2px solid #3d7387;

  &:not(:last-child) {
    margin-bottom: 1.5rem;
  }
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: center;

  @include mobile {
    flex-direction: column;

    button {
      width: 100%;
    }
  }

  button:not(:last-child) {
    margin-right: 1rem;

    @include mobile {
      margin-right: 0;
      margin-bottom: 1rem;
    }
  }
}

.result-section {
  color: #000;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  margin-top: 3rem;
  width: 100%;
  overflow: hidden;

  &-inner {
    overflow: auto;
    width: 100%;
  }
}

pre {
  line-height: 1.5;
}

.tabs {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem;

  label {
    width: 49%;
    position: relative;
    margin: 0 !important;

    span {
      display: block;
      width: 100%;
      padding: 1rem;
      border: 1px solid $projectGreen;
      border-radius: 4px;
    }

    input {
      position: absolute;
      opacity: 0;
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      cursor: pointer;

      &:checked + span {
        background: $projectGreen;
        color: #fff;
      }
    }
  }
}
